#admins-page-container {
    display: flex;
    flex-direction: row;
    /* Changer le height avec le calc => pas pro */
    height: calc(100vh - 16.6%);
    width: 100%;
}

#admin-page-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#admin-page-display h1 {
    margin-left: 20px;
}

#admin-project {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.admins-project-form {
   
}

#admin-project-name {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    /* box-shadow: 5px 5px 6px rgb(123, 170, 202); */
    padding: 50px;
}

/* #admin-project-dates {
    display: flex;
    flex-direction: column;
    width: 200px;
    box-shadow: 5px 5px 6px rgb(123, 170, 202);
    padding: 50px;
    margin-top: 20px;
} */

.admin-project-label {
    margin-top: 25px;
}

/*   ------ ADMIN NAVIGATION MENU ----------    */

#admins-nav-menu {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: 300px;
    background-color: #18202c;
}

.admins-nav-menu-boxes {
    text-align: start;
    margin: 0;
    color: #ffffff;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.admins-nav-boxes-title {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.admins-nav-boxes-title p {
    margin-left: 10px;
}

.admins-nav-boxes-link:hover {
    background-color: #232f3e;
}

.admins-nav-boxes-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    height: 30px;
}

.admins-nav-menu-link {
    color: #a4a4a4;
    text-decoration: none;
    margin-left: 25px;
    align-items: center;
}

.admins-nav-menu-link:hover {
    color: #3cc9cd;
}

.admins-nav-menu-link:active {
    color: #3cc9cd;
}

/*    ------- ADMIN NAVIGATION MENU END -----    */


/*  -------- ADMIN USERS -------- */
#admin-page-users {
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: column; */
    /* overflow: scroll; */
}

#admin-page-users-form {
    display: flex;
    flex-direction: column;
    margin:20px;
    border: 5px solid white;
}

#admin-page-users-form label, input {
    margin: 10px;
    width: 300px;
 }

#admin-page-users-form input {
    background-color: #7BAACA;
    border-style: none;
    border-radius: 5px;
    color: white;
}
/*  ---------ADMIN USERS END -----*/

/* ---------ADMIN ADD USERS ------*/
.admin-page-add-user-form {
    display: flex;
    flex-direction: row;
    margin:20px;
    border: 5px solid white;
}

.admin-page-add-user-form input, select {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: #7BAACA; */
    border-style: none;
    border-radius: 5px;
    /* color: white; */
}

.admin-page-add-user-form label {
    margin-top: 10px;
    margin-left: 10px;
}
/* ---------ADMIN ADD USERS END ----*/

/* ------- ADMIN MODIFY USERS -----*/

/*#admin-page-add-user-form {*/
/*    display: block;*/
/*}*/

.admin-page-add-user-form-hide {
    display: none;
}
/* ------- ADMIN MODIFY USERS END -----*/


.formControl {
    margin-left: 40px !important;
    /* margin-top: 50px !important; */
    min-Width: 100px;
    width: 250px;
}

/* .adminProjectlabel {
    margin-left: 20 !important;
    margin-bottom: 10;
} */

.formButton {
    margin-top: 50px !important;
    margin-left: 50px;
}

.formControlBoxes{
    margin-top: 50px !important;
}

.admins-Project-modal {
    display: block;
    /* position: absolute;
    top: 25%;
    left: 40%;
    width: 500px;
    height: 500px;
    background-color: #fdfdfd;
    border: 0.5px solid #3f51b5;
    border-radius: 10px ; */
}

.admins-project-modal-closed {
    display: none;
}

.formControlInfos {
    margin-top: 50px  !important;
    margin-right: 20px !important;
}

#admins-project-modal-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    background-color: #3f51b5;
    color: white
}