#userProjectSelection {
    display: flex;
    flex-direction: column;
    width: 25%;
}

input {
    width: 20px;
}

/* select {
    width: 50%;
} */

td {
    width: 150px;
}

.title-table {
    background-color: rgb(88, 166, 185);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Roboto','sans-serif';
  }
  
  .companies-table {
    width: 100%;
  }

  .content-table {
    color: #888888;
    font-size: 1.7rem;
    font-family: 'Roboto','sans-serif';
  }

  .user-fields {
      width: 20px;
  }

  #container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 100%;
}
  

#test {

}


/* ---------- Popup --------- */

#userPage-Popup {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
  position: absolute;
  top: 50px;
  left: 25%;
}

#userPage-Popup-hide {
  display: none;
}

.userPage-button {
  justify-content: end;
  width: 25px;
  background-color: red;
  color: white;
}

#button-box {
  display: flex;
  flex-direction: row-reverse;
}

#userPagePopupTextarea {
  height: 200px;
  margin: 10px;
}